@font-face {
    font-family: 'UTM Aurora';
    src: url('UTMAurora.eot');
    src: url('UTMAurora.eot?#iefix') format('embedded-opentype'), url('UTMAurora.woff2') format('woff2'), url('UTMAurora.woff') format('woff'), url('UTMAurora.ttf') format('truetype'), url('UTMAurora.svg#UTMAurora') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UVF Nexa';
    src: url('UVFNexaLight.eot');
    src: url('UVFNexaLight.eot?#iefix') format('embedded-opentype'), url('UVFNexaLight.woff2') format('woff2'), url('UVFNexaLight.woff') format('woff'), url('UVFNexaLight.ttf') format('truetype'), url('UVFNexaLight.svg#UVFNexaLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UVF Nexa';
    src: url('UVFNexaBold.eot');
    src: url('UVFNexaBold.eot?#iefix') format('embedded-opentype'), url('UVFNexaBold.woff2') format('woff2'), url('UVFNexaBold.woff') format('woff'), url('UVFNexaBold.ttf') format('truetype'), url('UVFNexaBold.svg#UVFNexaBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Yen Tu';
    src: url('UTMYenTu.eot');
    src: url('UTMYenTu.eot?#iefix') format('embedded-opentype'), url('UTMYenTu.woff2') format('woff2'), url('UTMYenTu.woff') format('woff'), url('UTMYenTu.ttf') format('truetype'), url('UTMYenTu.svg#UTMYenTu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}